* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 82.5%;
  color: #554c4b;
  background: #eff0f4;
}
select {
  margin-right: 10px;
}
button {
  padding: 10px;
  background: #2a8fe2;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
ul {
  width: 400px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.container .heading {
  margin-bottom: 10px;
}
.search {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.search__input {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.2);
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.articles__i {
  width: 300px;
  padding: 10px;
  margin: 0 10px 10px 0;
  box-sizing: border-box;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.2);
}
.articles__i:nth-child(2n) {
  margin-right: 0;
}
